/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Improve typography */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f6f9;
}

/* Make media responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}

/* Prevent text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove link underline (optional) */
a {
  text-decoration: none;
  color: inherit;
}

.addBookBar {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.addNewBook {
  font-weight: 900;
  font-size: x-large;
  padding: 5px 10px;
  color: #f4f6f9;
  background-color: green;
  border-radius: 10px;
}
table {
  background-color: #ffffff;
  border: none;
}
td,th{
  border: 1px solid black;
}
.action {
  border: none;
}

.editbtn {
  color: #ffffff;
  background-color: green;
  padding: 10px 20px;
  border-radius: 10px;
}
.deletebtn {
  color: #ffffff;
  background-color: red;
  border: none;
  padding: 7px 10px;
  border-radius: 10px;
}
.mainData{
  display: flex;
  justify-content: center;
  align-items: center;
}
