<label for="authors">Authors:</label>
<select name="author" id="authors" >
    <% authors.forEach(author => { %>
        <option value="<%= author.id %>">
            <%= author.first_name %> <%= author.last_name %>
        </option>
    <% }) %>
</select>