<label for="category">Category:</label>
<select name="category" id="category" required>
    <% categories.forEach(category => { %>
        <option value="  <%= category.id %>">
            <%= category.name %>
        </option>
    <% }) %>
</select>