<label for="publisher">Publisher:</label>

<select name="publisher" id="publisher" required>
  <% publishers.forEach(publisher => { %>
    <option
      value="<%= publisher.id %>"
      <%= Number(book?.publisher_id || book?.publisher) === publisher.id ? "selected" : "" %>>
      <%= publisher.name %>
    </option>
  <% }) %>
</select>